---
layout: default
---

<div>

  <ul class="posts">

    {% for post in paginator.posts %}
      <li>
        <div>
          <div>
            <a class="title-link" href="{{ post.url | prepend: site.baseurl }}">
              <h2 class="title">{{ post.title }}</h2>
            </a>
          </div>
          <div >

            <p class="post">
              {{ post.content | strip_html | truncatewords:35}}
            </p>
            <small class="date">
              {% assign m = post.date | date: "%-m" %}
              {{ post.date | date: "%-d" }}
              {% case m %}
              {% when '1' %}Januari
              {% when '2' %}Febuari
              {% when '3' %}Maret
              {% when '4' %}April
              {% when '5' %}Mei
              {% when '6' %}Juni
              {% when '7' %}Juli
              {% when '8' %}Agustus
              {% when '9' %}September
              {% when '10' %}Oktober
              {% when '11' %}November
              {% when '12' %}Desember
              {% endcase %}
              {{ post.date | date: "%Y" }}
            </small>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
<div class="center">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Sebelumnya</a>
  {% else %}
  {% endif %}
  <span>{{ paginator.page }} dari {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Selanjutnya</a>
  {% else %}
  {% endif %}
</div>

</div>
